html {
  font-family: sans-serif;
  background: linear-gradient(180deg, #087c8a, #075d7b);
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
}
body {
}
.card {
  background-color: rgba(255, 255, 255, 0.62);
  -webkit-transition: -webkit-box-shadow 0.25s !important;
}
