body {
  background-image: url('img/jason-thompson-dS3UnDX6InQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.card {
    background-color: rgba(255, 255, 255, 0.62);
    -webkit-transition: -webkit-box-shadow .25s!important;
}
